<?xml version="1.0"?>
<configuration>
  <location path="ManageFeeds.aspx">
    <system.web>
      <authorization>
        <deny roles="manager,member"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ManageNewsletter.aspx">
    <system.web>
      <authorization>
        <deny roles="manager,member"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ManageRoles.aspx">
    <system.web>
      <authorization>
        <deny roles="manager,member"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ManageProducts.aspx">
    <system.web>
      <authorization>
        <deny roles="member"/>
        <deny users="?"></deny>
      </authorization>
    </system.web>
  </location>
</configuration>
